<p class="social-links" style="margin-top: 1em; display: flex; justify-content: center; gap: 1em;">
  <a href="https://github.com/{{ site.github_username }}" target="_blank">
    <img src="{{ '/assets/imgs/github-icon.svg' | relative_url }}" alt="GitHub" width="20"> {{ site.github_username }}
  </a>
  <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
    <img src="{{ '/assets/imgs/linkedin-icon.svg' | relative_url }}" alt="LinkedIn" width="20"> {{ site.linkedin_username }}
  </a>
</p>
